<!DOCTYPE html>

<!--
 // WEBSITE: https://themefisher.com
 // TWITTER: https://twitter.com/themefisher
 // FACEBOOK: https://www.facebook.com/themefisher
 // GITHUB: https://github.com/themefisher/
-->

<html lang="zxx">
  
<head>
    <meta charset="utf-8" />
    <title>Dtox</title>

    <!-- mobile responsive meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1"
    />

    <!-- theme meta -->
    <meta name="theme-name" content="dtox" />

    <!-- ** Plugins Needed for the Project ** -->
    <!-- Bootstrap -->
    <link rel="stylesheet" href="plugins/bootstrap/bootstrap.min.css" />

    <!-- themefy-icon -->
    <link rel="stylesheet" href="plugins/themify-icons/themify-icons.css" />

    <!-- slick slider -->
    <link rel="stylesheet" href="plugins/slick/slick.css" />
    
    <!-- venobox popup -->
    <link rel="stylesheet" href="plugins/Venobox/venobox.css" />
   
    <!-- aos -->
    <link rel="stylesheet" href="plugins/aos/aos.css" />
    
    <!-- Main Stylesheet -->
    <link href="css/style.css" rel="stylesheet" />
    
    <!--Favicon-->
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
    <link rel="icon" href="images/favicon.ico" type="image/x-icon" />
  </head>
  <body>

    <!-- navigation -->
    <section class="fixed-top navigation">
      <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light">
          <a class="navbar-brand" href="/"
            ><img class="logo_img" src="images/logo.png" alt="logo"
          /></a>

          <button
            class="navbar-toggler border-0"
            type="button"
            data-toggle="collapse"
            data-target="#navbar"
            aria-controls="navbar"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>

          </button>

          <!-- navbar -->
          <div class="collapse navbar-collapse text-center" id="navbar">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link page-scroll" href="#about">About us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="admission.html">Admission</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="academic.html">Academic</a>
              </li>
              <li class="nav-item">
                <a class="nav-link page-scroll" href="#departments">Departments</a>
              </li>
              <li class="nav-item">
                <a class="nav-link page-scroll" href="#pricing">IQAC</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="contact.html">NIRF</a>
              </li>
            </ul>
            <a href="#" class="btn btn-primary ml-lg-3 primary-shadow"
              >Search</a
            >
          </div>
        </nav>
      </div>
    </section>

    <section
      class="hero-section hero"
      data-background=""
      style="background-image: url(images/hero-area/banner-bg.png)"
    >
      
    <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center zindex-1">
            <h1 class="mb-3">Welcome To Our College</h1>
            <p class="mb-4">
              Nazareth Margoschis College at Pilliayanmalai was started in the year 1967,
              in memorial to an SPG  Missionary from England Canon Arthur Margoschis run
              by the Management of CSI Thoothukudi-Nazareth Diocese. It is a Christian Minority
              Co-educational Post Gradaute Instituition wiht Research centre, recognized
              by UGC under the 12(b) and 2(f), affiliated to Manonmaniam Sundaranar University, Tirunelveli.
              The college provides higher education to the youth hailing from economically backward families
              of the surrounding villages with the motive of uplifting their socio-economic conditions.  
            </p>
          </div>
        </div>
      </div>
    </div>
   </section>
    
   <section class="section feature mb-0" id="feature">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-title">Latest News</h2>
          </div>
          
          <div class="col-md-6 mb-80">
            <div class="d-flex feature-item">
              <div>
                <h3>75th Independence Day celebration</h3>
                  <p>
                    August 15, 2022<br />
                    Nazareth Margoschis College at Pillaiyanmanai - 75th Independence Day celebration.
                  </p>
              </div>
            </div>
          </div>
           
          <div class="col-md-6 mb-80">
            <div class="d-flex feature-item">
              <div>
                <h3>Tribute to the Missile Man</h3>
                  <p>
                    July 27, 2021<br />
                    50 Saplings were planted in and around Pillaiyanmanai as the tribute
                    to the Missile man of India Dr.A.P.J. Abdul kalamon death anniversary.
                    NSS Programme officers oragnized under the guidance of the Principal,
                    Dr. S. Arulraj Ponnudurai on 27.7.2021. 
                  </p>
              </div>
            </div>
          </div>
            
          <div class="col-md-6 mb-80">
            <div class="d-flex feature-item">
              <div>
                <h3>CSI Thoothukudi Nazareth Diocese - Vision 100 Churuch's - Arasakulam Church Dedication</h3>
                  <p>
                    Feb 26, 2021<br />
                    Dedication of 50th Church at Arasakulam Village in Palaniappapuram Pastrote
                    sponsored by our NMCP staff members on 26.02.2021. Dedicated by our
                    TND Bishop Rt. Rev. S.E.C. Devasahayam.
                  </p>
              </div>
            </div>
          </div>
            
          <div class="col-md-6 mb-80">
            <div class="d-flex feature-item">
              <div>
                <h3>Road Safety Awareness Cycle Rally - NSS</h3>
                  <p>
                    Feb 08, 2021<br />
                    Sticking of black stickers in the headlights of the vehicle.
                  </p>
              </div>
            </div>
          </div>
            
          <div class="col-md-6 mb-80">
            <div class="d-flex feature-item">
              <div>
                <h3>Road Safety Awareness Programme was organized by the NSS Units</h3>
                  <p>
                    Feb 11, 2021<br />
                    National Road Safety Week (11th to 17th January 2020) is being observed
                    throughout India to create awareness amoung general public and specially
                    amongst the youth to improve the safety on road and give an opportunity
                    to all stackholders to contribute to the cause of road safety.
                  </p>
              </div>
            </div>
          </div>
            
          <div class="col-md-6 mb-80">
            <div class="d-flex feature-item">
              <div>
                <h3>Department of Commerce - National Seminar</h3>
                  <p>
                    Feb 06, 2021<br />
                    A one day National Seminar on "PROGESSION OF STRATEGIES IN INDIAN BUSINESS"
                    was organized by department of Commerce on 05.01.2021.
                  </p>
              </div>
            </div>
          </div>
            
          <div class="col-md-6 mb-80">
            <div class="d-flex feature-item">
              <div>
                <h3>Our Principal providing free mask to College staffs</h3>
                  <p>
                    May 20, 2020<br />
                    Nazareth Margoschis College at Pillaiyanmanai - Our Principal providing free mask to College staffs.
                  </p>
              </div>
            </div>
          </div>
            
          <div class="col-md-6 mb-80">
            <div class="d-flex feature-item">
              <div>
                <h3>Providing welfare assistance to the families of poor students</h3>
                  <p>
                    May 11, 2020<br />
                    ஏழை மாணவர்களின் குடும்பத்திற்கான நலத்திட்ட உதவிகள் வழங்குதல்.
                  </p>
              </div>
            </div>
          </div>
            
          <div class="col-md-6 mb-80">
            <div class="d-flex feature-item">
              <div>
                <h3>Delight Programme</h3>
                  <p>
                    May 13, 2021<br />
                    நாசரேத் மர்காஷிஸ் கல்லூரியில் ‘டிலைட்’ மாணவர் உதவித் தொகை வழங்கும் விழா:
                    நாசரேத் மர்காஷிஸ் கல்லூரியில் டிலைட் மாணவர் உதவித் திட்டம் சார்பில்
                    ஏழை எளிய மாணவர்களுக்கு தேர்வுக் கட்டணம் வழங்கும் விழா கல்லூரிக் கலையரங்கில் நடைபெற்றது.
                    பாடகர் குழுவினர் துதிப்பாடல் பாடினார்கள். விலங்கியல் துறைத் தலைவர் முனைவர்.
                    பிராங் மெரின் ஆரம்ப ஜெபம் செய்தார். துணை முதல்வர் முனைவர், பெரியநாயகம் ஜெயராஜ்
                    வரவேற்புரை நிகழ்த்தினார். கல்லூரி முதல்வர் முனைவர். அருள்ராஜ் பொன்னுதுரை தலைமையில் நடைபெற்ற
                    நிகழ்வில் கல்லூரி நிர்வாகம் சார்பில் மாணவர்களுக்கு வழங்கப்படும் நலத்திட்டங்கள் பற்றியும்,
                    மாணவர்கள் இதனை பயனுள்ள வகையில் பயன்படுத்திக் கொள்ள வேண்டுமென்று கேட்டுக் கொண்டார்.
                    ஐடியல் நிறுவனங்களின் நிர்வாக இயக்குநர் ஞானராஜ் கோயில்பிள்ளை சிறப்பு விருந்தினராகக் கலந்து கொண்டு
                    துறைக்கு மூன்று மாணவர்கள் வீதம் 40 மாணவர்களுக்கு இத்திட்டத்தின் கீழ் பல்கலைக்கழகத் தேர்வுக் கட்டணம்
                    செலுத்துவதற்கு தலா ஆயிரம் ரூபாய் வழங்கினார். மேலும் ஆண்டுதோறும் டிலைட் திட்டத்திற்கு தனது பங்களிப்பாக
                    பத்தாயிரம் ரூபாய் வழங்குவதாகவும் அறிவித்தார். முனைவர். ஜீவி எஸ்தர், நிதிக்காப்பாளர் முனைவர்.
                    குளோரியம் அருள்ராஜ் ஆகியோர் வாழ்த்துரை வழங்கினார்கள். தமிழ்த்துறைத் தலைவர் முனைவர்.
                    அந்தோணி செல்வகுமார் நன்றி கூறினார். முனைவர். பியூலா ஹேமலதா நிகழ்வுகளைத் தொகுத்து வழங்கினார்.
                    துறைத் தலைவர்கள், பேராசிரியர்கள், அலுவலர்கள், மாணவ, மாணவிகள் அனைவரும் கலந்து கொண்டார்கள்.
                    விழாவிற்கான ஏற்பாட்டினை கல்லூரிச் செயலர் ளு.னு.மு. ராஜன் ஆலோசனையின்படி கல்லூரி முதல்வர் முனைவர்.
                    அருள்ராஜ் பொன்னுதுரை, பேராசிரியர்கள் மற்றும் அலுவலர்கள் செய்திருந்தார்கள்.
                  </p>
              </div>
            </div>
          </div>
            
          <div class="col-md-6 mb-80">
            <div class="d-flex feature-item">
              <div>
                <h3>Parents Teachers Assosiation</h3>
                  <p>
                    May 03, 2020<br />
                    நாசரேத் மர்காஷிஸ் கல்லூரியில் பயிலும் மாணவர்கள் மற்றும் பெற்றோர்களுக்கான கலந்தாய்வு கூடுகை:
                    நாசரேத் மர்காஷிஸ் கல்லூரியில் பயிலும் மாணவர்கள் மற்றும் பெற்றோர்களுக்கான கலந்தாய்வு கூடுகை
                    29.02.2020 சனிக்கிழமை அன்று கல்லூரி கலையரங்கில் நடைபெற்றது. இக்கலந்தாய்வு கூடுகைக்கு
                    தொடக்கமாக கல்லூரி பாடகர் குழுவினர் துதிப்பாடல் பாடினார்கள். விலங்கியல் துறைத் தலைவர் முனைவர்.
                    பிராங் மெரின் ஆரம்ப ஜெபம் செய்தார். கணிதத் துறைத் தலைவர் முனைவர்.
                    ஜெயபாலன் கென்னடி வேதபாடம் வாசித்தார். துணை முதல்வர் முனைவர்.
                    பெரியநாயகம் ஜெயராஜ் வரவேற்புரை நிகழ்த்தினார். பொருளியல் துறை பேராசிரியர் முனைவர்.
                    இராஜகுமார் தொடக்க உரை நிகழ்த்தினார். பெற்றோர் ஆசிரியர் கழக உபதலைவர் பால்கர்ராஜ்,
                    பெற்றோர் ஆசிரியர் கழக செயலர் தேவசகாயம் ஆகியோர் கருத்துரை வழங்கினார்கள்.
                    மாணவர்கள் ஒழுக்கமாக இருந்து வாழ்க்கையில் முன்னேற்றம் அடைய காரணமாக இருக்கும் பெற்றோருக்கு
                    பெருமை சேர்க்க திறம்பட கல்வி கற்று, சமூக மேம்பாட்டிற்கு வழிவகுக்க வேண்டும் என்று கல்லூரி முதல்வர் முனைவர்.
                    அருள்ராஜ் பொன்னுதுரை தலைமையுரை நிகழ்த்தினார். நிதிக்காப்பாளர் முனைவர்.
                    குளோரியம் அருள்ராஜ் நன்றி கூறினார். பல்வேறு கலை இலக்கியப் போட்டிகளில் பங்கு பெற்று சிறப்பிடம்
                    பிடித்த மாணவிகளுக்கு ரொக்கப் பணம், சான்றிதழ் மற்றும் ஷீல்டு வழங்கப்பட்டது.
                    நிகழ்ச்சிகளை தமிழ்த் துறைத் தலைவர் முனைவர். அந்தோணி செல்வகுமார் தொகுத்து வழங்கினார்.
                    இந்நிகழ்ச்சியில் பெற்றோர், பேராசிரியர்கள் திரளாக கலந்து கொண்டார்கள்.
                    கல்லூரிச் செயலர் எஸ்.டி.கே. ராஜன் ஆலோசனையின் படி கல்லூரி முதல்வர் முனைவர் அருள்ராஜ் பொன்னுதுரை,
                    பெற்றோர் ஆசிரியர் கழகத்தினர், அலுவலர்கள் மிகச்சிறப்பாக செய்திருந்தனர்.
                  </p>
              </div>
            </div>
          </div>
            
          <div class="col-md-6 mb-80">
            <div class="d-flex feature-item">
              <div>
                <h3>Student Career Development Programme - Organized by Career Guidance Cell & YMCA</h3>
                  <p>
                    Feb 07, 2022<br />
                    Nazareth Margoschis College at Pillaiyanmanai - Students Career Development Programme - Organized by Career Guidance Cell & YMCA.
                  </p>
              </div>
            </div>
          </div>
            
          <div class="col-md-6 mb-80">
            <div class="d-flex feature-item">
              <div>
                <h3>National Voters Day Human Chain - Awareness Programme</h3>
                  <p>
                    January 31, 2020<br />
                    நாசரேத் மர்காஷிஸ் கல்லூரியில் தேசிய வாக்காளர் தின மனித சங்கிலி:
                    தமிழக அரசின் ஆணையின்படி மாவட்ட ஆட்சியர் மற்றும் திருநெல்வேலி மண்டல
                    கல்லூரிக் கல்வி இணை இயக்குநரின் வழிகாட்டுதலின்படி தேசிய வாக்காளர்
                    தினம் சார்பாக மனித சங்கிலி நிகழ்வு நாசரேத் மர்காஷிஸ் கல்லூரியில் நடைபெற்றது.
                    நாட்டு நலப்பணித் திட்ட அலுவலர் முனைவர். அந்தோணி செல்வகுமார் வரவேற்புரை நிகழ்த்தினார்
                    விழாவிற்கு கல்லூரி துணை முதல்வர் முனைவர். பெரியநாயகம் ஜெயராஜ் தலைமை தாங்கி
                    வாக்களித்தலின் அவசியம் பற்றி பேசினார். கல்லூரி நிதிக் காப்பாளர் முனைவர்.
                    குளோரியம் அருள்ராஜ், விலங்கியல் துறைத் தலைவர் முனைவர்,
                    பிராங் மெரின், முனைவர், பிரவீன் பீற்றர் கலந்து கொண்டார்கள். வாழையடி பேருந்து நிறுத்தத்திலிருந்து
                    இருபுறமும் நாட்டு நலப்பணித் திட்ட மாணவ, மாணவியர் கைகோர்த்து நின்றார்கள்.
                    ஒவ்வொருவரும் வாக்காளராக பதிவு செய்தல் மற்றும் வாக்களித்தலின் அவசியம் பற்றிய துண்டுப்
                    பிரசுரங்களை பொதுமக்களுக்கு கொடுத்தனர். விழாவிற்கான ஏற்பாட்டினை
                    கல்லூரிச் செயலர் எஸ்.டி.கே. ராஜன் ஆலோசனையின் படி கல்லூரி
                    துணை முதல்வர் முனைவர் பெரியநாயகம் ஜெயராஜ் தலைமையில் திட்ட அலுவலர்கள் முனைவர்.
                    அந்தோணி செல்வகுமார், முனைவர் சாமுவேல் தங்கராஜ் கோரேஸ், முனைவர்.
                    கீதாஞ்சலி, முனைவர். சாந்தி சலோமி, முனைவர். பியூலா ஹேமலதா மற்றும்
                    நாட்டு நலப்பணித் திட்ட மாணவர்கள் செய்திருந்தனர்.
                  </p>
              </div>
            </div>
          </div>
            
          <div class="col-md-6 mb-80">
            <div class="d-flex feature-item">
              <div>
                <h3>Traditional Food Festival</h3>
                  <p>
                    December 18, 2019<br />
                    Nazareth Margoschis College at Pillaiyanmanai - Traditional Food Festival.
                  </p>
              </div>
            </div>
          </div>
            
          <div class="col-md-6 mb-80">
            <div class="d-flex feature-item">
              <div>
                <h3>Tamil Department National Seminar</h3>
                  <p>
                    December 16, 2019<br />
                    Nazareth Margoschis College at Pillaiyanmanai - Tamil Department National Seminar.
                  </p>
              </div>
            </div>
          </div>
            
          <div class="col-md-6 mb-80">
            <div class="d-flex feature-item">
              <div>
                <h3>Accreditation report received by our Principal from NAAC Peer team Chairperson</h3>
                  <p>
                    August 15, 2022<br />
                    Nazareth Margoschis College at Pillaiyanmanai - Accreditation report received from our Principal from NAAC Peer team Chairperson
                  </p>
              </div>
            </div>
          </div>
            
          <div class="col-md-6 mb-80">
            <div class="d-flex feature-item">
              <div>
                <h3>Delight Programme</h3>
                  <p>
                    October 14, 2019<br />
                    Nazareth Margoschis College at Pillaiyanmanai - Delight Programme.
                  </p>
              </div>
            </div>
          </div>
            
          <div class="col-md-6 mb-80">
            <div class="d-flex feature-item">
              <div>
                <h3>Safety Awareness Programme for girl's students</h3>
                  <p>
                    October 14, 2019<br />
                    Nazareth Margoschis College at Pillaiyanmanai - Safety Awareness Programme for girl's students.
                  </p>
              </div>
            </div>
          </div>
           
          <div class="col-md-6 mb-80">
            <div class="d-flex feature-item">
              <div>
                <h3> Economic National Seminar on 20.09.2019</h3>
                  <p>
                    Sep 20, 2019<br />
                    Nazareth Margoschis College at Pillaiyanmanai - Economic National Seminar on 20.09.2019.
                  </p>
              </div>
            </div>
          </div>
            
          <div class="col-md-6 mb-80">
            <div class="d-flex feature-item">
              <div>
                <h3>National Deworming Day</h3>
                  <p>
                    August 10, 2019<br />
                    Nazareth Margoschis College at Pillaiyanmanai - National Deworming Day.
                  </p>
              </div>
            </div>
          </div>
            
          <div class="col-md-6 mb-80">
            <div class="d-flex feature-item">
              <div>
                <h3>Water Conversation Awareness Programme</h3>
                  <p>
                    July 16, 2019<br />
                    Nazareth Margoschis College at Pillaiyanmanai - Water Conversation Awareness Programme.
              </div>
            </div>
          </div>
            
            <a href="#" class="btn btn-secondary btn-lg">explore us</a>
          
        </div>
    </section>

    <section class="section-lg seo">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="seo-image">
              <img
                class="img-fluid"
                src="images/marketing/marketing.png"
                alt="form-img"
              />
            </div>
          </div>
          <div class="col-md-5">
            <h2 class="section-title">
              Upcoming Events
            </h2>
            <p>
            </p>
          </div>
        </div>
      </div>
      <!-- background image -->
      <img
        class="img-fluid seo-bg"
        src="images/backgrounds/seo-bg.png"
        alt="seo-bg"
      />
      <!-- background-shape -->
      <img
        class="seo-bg-shape-1 left-right-animation"
        src="images/background-shape/seo-ball-1.png"
        alt="bg-shape"
      />
      <img
        class="seo-bg-shape-2 up-down-animation"
        src="images/background-shape/seo-half-cycle.png"
        alt="bg-shape"
      />
      <img
        class="seo-bg-shape-3 left-right-animation"
        src="images/background-shape/seo-ball-2.png"
        alt="bg-shape"
      />
    </section>

    <section class="section-lg service">
      <div class="container">
        <div class="row justify-content-between">
          <div class="col-md-5 order-2 order-md-1">
            <h2>Admission for Academic Year 2020 - 2021</h2>
            <button type="submit" value="APPLICATION FORM" class="btn newsletter-btn">
            <ul class="pl- service-list">
              <li>
                <i class="ti-layout-tab-window text-purple"></i>Students
              </li>
              <li>
                <i class="ti-layout-tab-window text-purple"></i>Programmes</i>
              </li>
              
              <li><i class="ti-support text-purple"></i>Departments</li>
              <li><i class="ti-support text-purple"></i>Research Holders</li>
            </ul>
          </div>
        </div>
      </div>
    </section>

    <section class="section-lg team" id="team">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-title">What Our Students Say</h2> 
            <div class="team-member">
              <div class="d-flex mb-4">
          
                <div class="col-lg-12 text-center">
                  <h4>ARPIT MISHRA</h4>
                  <h6 class="text-color">B.A. Economics</h6>
                </div>
              </div>
              <p>
                Margoschis college is a place of learning, fun, culture, lore, 
                literature and such many life preaching activities. 
                Studying at the Sharda University brought an added value to my life. 
              </p>
            </div>

            <div class="team-member">
              <div class="d-flex mb-4">
                <div class="col-lg-12 text-center">
                  <h4>CHRISTY JENIFER</h4>
                  <h6 class="text-color">M.A. English (2014-2019)</h6>
                </div>
              </div>
              <p>
                One of the most interesting stage in life that gives you an opportunity
                to explore is the college stage. My days at NMCP are precious memories,
                these five years were like five hours for me which completed vvery fast.
                My experience in NMCP was just amazing. The Department of English is home
                to all such essentials. And one of the most vibrant department of NMCP
                which has established its identify for learning English Language and Literature.
                I'm so prod my dedicated faculty members, they were like a backbone for me.
                English Department made me the person who I am today.. Bold and Confident..!!!
                I am grateful to God that I had this department as the stepping stone of my career life.   
              </p>
            </div>

            <div class="team-member">
              <div class="d-flex mb-4">
                <div class="col-lg-12 text-center">
                  <h4>RAJAKUMAR SELWYN</h4>
                  <h6 class="text-color">B.Sc Cheimstry (1994-1997)</h6>
                </div>
              </div>
              <p>
                My Graduation journey at NMCP was one of the best experiences in my life.
                The days at this esteemed institution brought in me, the clarity of thought,
                knowledge, confidence, courage, conviction and steadfast goals, resulting in a strong
                foundation for my career. The quality of the professors with their strong research
                experinece and abilities, not only have brought academic excellence but also sharpened
                the interpersonal skills of the budding professinals. I realized that the learning
                environment always makes the difference and it is true at NMCP. While each department
                was proud of their group, we fondly referred ourselves(Chemistry) as the "Royal Department"
                of NMCP and had a great opportunity to serve as the Secretary of the Department between 1996 to 1997.
                I also cannot forget the prayer time at college chapel and it indeed was a blessings to many who attended.
                This graduation further helped me to do Masters in infromation technology and MBA with Opertions Management.
                At present I am serving as a Project Manager in a Software company at DLF IT Park in Chennai.
                I owe my success to "Nazareth Margoschis College" and will always feel proud of being alumni of NMCP.
                Wishing everyone a great success! God Bless.
              </p>

            </div>
          </div>
        </div>
      </div>

    </section>
    <!-- jQuery -->
    <script src="plugins/jQuery/jquery.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="plugins/bootstrap/bootstrap.min.js"></script>
    <!-- slick slider -->
    <script src="plugins/slick/slick.min.js"></script>
    <!-- venobox -->
    <script src="plugins/Venobox/venobox.min.js"></script>
    <!-- aos -->
    <script src="plugins/aos/aos.js"></script>
    <!-- Main Script -->
    <script src="js/script.js"></script> 
  
  </body>
</html>
