	<!-- Footer Start -->        
		<footer class="footer">
            <div class="card">
              <div class="card-body">
                <div
                  class="d-sm-flex justify-content-center justify-content-sm-between"
                >
                  <span
                    class="text-muted text-center text-sm-left d-block d-sm-inline-block"
                    >Copyright &copy; 2021
                    <a href="https://www.ashiantechnologies.com"
                      >Ashian Technologies</a
                    >. All rights reserved.</span
                  >
                </div>
              </div>
            </div>
          </footer>
		  <!-- Footer End -->
        </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->

    <!-- base:js -->
    <script src="/admin-staff/js/devs/bundle.base.js"></script>
    <script src="/admin-staff/js/devs/off-canvas.js"></script>
    <script src="/admin-staff/js/devs/hoverable-collapse.js"></script>		  
	<script>
	localStorage.setItem("user", "<%- session.mainrole %>");
	</script>
	<!-- base:js -->