    <script src="/admin-staff/js/devs/template.js"></script>
	<script src="js/_common/iziToast.min.js"></script>
    <!-- Custom js for this page-->
    <script src="/admin-staff/js/devs/dashboard.js"></script>
		<script src="js/_common/bootstrap.min.js"></script>
    <!-- End custom js for this page-->
  </body>
</html>